**1. Import data by pandas**

In [129]:
import pandas as pd
data = pd.read_csv('./test.csv')

**2. Handling missing values**

In [130]:
missing_percents = data.isnull().sum()*100/len(data)

for label, val in missing_percents.items():
    if val < 5:
        data = data.dropna(subset=[label])
    else:
        data[label] = data[label].fillna(data[label].mode()[0])
data_test = data.drop('Loan_ID', axis=1)
data_test.isnull().sum()

Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
dtype: int64

**3. Handing Categorical Columns**

In [131]:
data_test['Education'] = data_test['Education'].map({'Graduate':1,'Not Graduate':0}).astype('int')
data_test['Self_Employed'] = data_test['Self_Employed'].map({'Yes':1,'No':0}).astype('int')
data_test['Property_Area'] = data_test['Property_Area'].map({'Rural':0,'Semiurban':2,'Urban':1}).astype('int')
data_test['Dependents'] = data_test['Dependents'].replace(to_replace='3+', value = '4')
data_test['Married'] = data_test['Married'].map({'Yes':1,'No':0}).astype('int')
data_test['Gender'] = data_test['Gender'].map({'Male':1, 'Female':0}).astype('int')

**4. Feature Scaling**

In [132]:
from sklearn.preprocessing import StandardScaler
scale_cols = ['ApplicantIncome','CoapplicantIncome','LoanAmount','Loan_Amount_Term']
st = StandardScaler()
data_test[scale_cols] = st.fit_transform(data_test[scale_cols])
data_test.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,1,1,0,1,0,0.203074,-0.654399,-0.433904,0.271195,1.0,1
1,1,1,1,1,0,-0.343098,-0.026659,-0.178404,0.271195,1.0,1
2,1,1,2,1,0,0.054343,0.098889,1.131031,0.271195,1.0,1
3,1,1,2,1,0,-0.495133,0.411085,-0.593591,0.271195,1.0,1
4,1,0,0,0,0,-0.301784,-0.654399,-0.944903,0.271195,1.0,1

**5. Calculate**

In [133]:
import pickle

loaded_model = pickle.load(open('./finalized_model.sav', 'rb'))

result = loaded_model.predict(data_test)

def trans_result(x):
    if x == 0:
        return 'No'
    else:
        return 'Yes'


data['Loan_Status'] = list(map(trans_result, result))
data.head(20)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban,Yes
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban,Yes
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban,Yes
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,1.0,Urban,Yes
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban,Yes
5,LP001054,Male,Yes,0,Not Graduate,Yes,2165,3422,152.0,360.0,1.0,Urban,Yes
6,LP001055,Female,No,1,Not Graduate,No,2226,0,59.0,360.0,1.0,Semiurban,Yes
7,LP001056,Male,Yes,2,Not Graduate,No,3881,0,147.0,360.0,0.0,Rural,No
8,LP001059,Male,Yes,2,Graduate,No,13633,0,280.0,240.0,1.0,Urban,Yes
9,LP001067,Male,No,0,Not Graduate,No,2400,2400,123.0,360.0,1.0,Semiurban,Yes
10,LP001078,Male,No,0,Not Graduate,No,3091,0,90.0,360.0,1.0,Urban,Yes
11,LP001082,Male,Yes,1,Graduate,No,2185,1516,162.0,360.0,1.0,Semiurban,Yes
12,LP001083,Male,No,3+,Graduate,No,4166,0,40.0,180.0,1.0,Urban,Yes
13,LP001094,Male,Yes,2,Graduate,No,12173,0,166.0,360.0,0.0,Semiurban,No
14,LP001096,Female,No,0,Graduate,No,4666,0,124.0,360.0,1.0,Semiurban,Yes
15,LP001099,Male,No,1,Graduate,No,5667,0,131.0,360.0,1.0,Urban,Yes
16,LP001105,Male,Yes,2,Graduate,No,4583,2916,200.0,360.0,1.0,Urban,Yes
17,LP001107,Male,Yes,3+,Graduate,No,3786,333,126.0,360.0,1.0,Semiurban,Yes
18,LP001108,Male,Yes,0,Graduate,No,9226,7916,300.0,360.0,1.0,Urban,Yes
19,LP001115,Male,No,0,Graduate,No,1300,3470,100.0,180.0,1.0,Semiurban,Yes